@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
body {
  font-family: 'Quicksand', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
  background: no-repeat 50% 50%/cover;
  color: #fff;
  -webkit-transition: background-image 1s linear;
  -o-transition: background-image 1s linear;
  transition: background-image 1s linear;
  font-size: 14px; }

.time {
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 8em;
  width: 3.5em;
  text-align: left;
  line-height: 1;
  text-shadow: 4px 3px 0 #000; }

.time, .date, .greeting, .focus_title, .quote_content, .quote_author {
  cursor: default;
  text-shadow: 2px 2px 4px #000;
  font-weight: 700; }

.date {
  padding-bottom: 1em;
  font-size: 3em; }

.quote {
  position: relative;
  width: 70vw;
  font-size: 4em;
  height: 3em;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  -webkit-transition: background-image 1s linear;
  -o-transition: background-image 1s linear;
  transition: background-image 1s linear; }
  .quote .next_quote {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
    cursor: pointer;
    right: -webkit-calc(50% - 0.75em);
    right: calc(50% - 0.75em);
    bottom: -1.5em;
    width: 1.5em;
    height: 1em;
    background: url("assets/images/quote_arrow.png") no-repeat 50% 50%/cover;
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom; }

@-webkit-keyframes quoteArr {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }
  50% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg); }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0); } }

@keyframes quoteArr {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }
  50% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg); }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0); } }
    .quote .next_quote:hover {
      -webkit-animation: quoteArr 0.75s linear infinite;
              animation: quoteArr 0.75s linear infinite; }

.quote_content {
  margin: 0 auto;
  line-height: 1.3;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear; }
  .quote_content.active {
    overflow: hidden;
    white-space: nowrap;
    -webkit-animation: typing 3s 0.5s steps(40, end) forwards;
            animation: typing 3s 0.5s steps(40, end) forwards; }

@-webkit-keyframes typing {
  0% {
    width: 0;
    opacity: 1; }
  100% {
    width: 100%;
    opacity: 1; } }

@keyframes typing {
  0% {
    width: 0;
    opacity: 1; }
  100% {
    width: 100%;
    opacity: 1; } }

.quote_author {
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  width: 100%;
  margin-top: 2vw;
  font-size: 0.8em;
  font-style: italic;
  color: #cacaca;
  font-style: normal;
  font-family: 'Sacramento', normal; }

.greeting {
  line-height: 1.5;
  font-size: 3em; }

.focus_title {
  font-size: 1.5em;
  padding-bottom: 0.5em; }

.greeting {
  padding-bottom: 0.5em; }

.name {
  max-width: 90vw;
  display: inline-block;
  min-width: 5px;
  font-weight: 700;
  cursor: auto;
  color: #cacaca;
  text-shadow: 4px 3px 0 #000; }

.focus {
  max-width: 90vw;
  font-size: 3em;
  min-width: 5px;
  text-shadow: 2px 3px 0 #000;
  color: #cacaca;
  margin-bottom: 2vw; }

.sliderR, .sliderL {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: -webkit-calc(50% - 4vh);
  top: calc(50% - 4vh);
  left: 0vh;
  width: 75px;
  height: 60px;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  text-shadow: 4px 3px 0 #000; }
  .sliderR:hover, .sliderL:hover {
    -webkit-animation: arrowL 0.75s linear infinite;
            animation: arrowL 0.75s linear infinite; }

@-webkit-keyframes arrowL {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(1vh);
            transform: translateX(1vh); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes arrowL {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(1vh);
            transform: translateX(1vh); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes arrowR {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-1vh);
            transform: translateX(-1vh); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes arrowR {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-1vh);
            transform: translateX(-1vh); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.sliderR {
  left: auto;
  right: 1vh; }
  .sliderR:hover {
    -webkit-animation: arrowR 0.75s linear infinite;
            animation: arrowR 0.75s linear infinite; }

.weather {
  padding-top: 10px;
  position: fixed;
  background: rgba(228, 228, 228, 0.6);
  border-radius: 3%;
  -webkit-box-shadow: 10px 10px 10px 25px rgba(228, 228, 228, 0.6);
          box-shadow: 10px 10px 10px 25px rgba(228, 228, 228, 0.6);
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  left: 10vw;
  top: 5vw;
  line-height: 1.5; }
  .weather div {
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px #000;
    padding-left: 50px;
    text-align: left;
    cursor: default; }
    .weather div:nth-child(2) {
      cursor: auto; }
    .weather div:first-child {
      text-align: center;
      font-size: 26px;
      padding-left: 0; }
  .weather__city {
    background: url("assets/images/maps_icon.png") no-repeat 0% 50%/contain;
    height: 1.5em; }
  .weather__temperature {
    background: url("assets/images/temperature_icon2.png") no-repeat 0% 50%/contain; }
  .weather__wind {
    background: url("assets/images/wind_icon1.png") no-repeat 0% 50%/contain; }
  .weather__visibility {
    background: url("assets/images/visibility_icon1.png") no-repeat 0% 50%/contain; }
  .weather__humidity {
    background: url("assets/images/humidity_color.png") no-repeat 0% 50%/contain; }
  .weather__description {
    background: no-repeat 0% 50%/contain; }

@media (max-width: 1440px) {
  .quote {
    width: 90vw; } }

@media (max-width: 1280px) {
  .time {
    font-size: 6em; }
  .weather {
    left: 5vw; }
    .weather div {
      margin-bottom: 10px; }
  .quote {
    font-size: 2.5em;
    height: auto; }
    .quote_author {
      font-size: 1em; } }

@media (max-width: 768px) {
  body {
    height: auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 80px 0;
    padding: 15vw 40px 0;
    background: grey no-repeat;
    background-position: center; }
  .time {
    padding-top: 0; }
  .focus {
    margin-bottom: 50px;
    width: 100%; }
  .name {
    width: 80%; }
  .quote {
    margin-bottom: 100px;
    width: 100%; }
    .quote .quote_content {
      margin-bottom: 30px;
      height: 3em; }
      .quote .quote_content.active {
        overflow: auto;
        white-space: normal;
        -webkit-animation: none;
                animation: none; }
    .quote .next_quote {
      width: 3em;
      height: 2em;
      right: -webkit-calc(50% - 1.5em);
      right: calc(50% - 1.5em);
      bottom: -2.5em; }
  .weather {
    position: static;
    padding-bottom: 50px;
    background: #5b5b5b;
    width: 100vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 0 10px;
    height: auto; }
    .weather div {
      width: 50%;
      font-size: 1.5em; }
      .weather div:first-child, .weather div:nth-child(2) {
        width: 100%;
        text-align: center; }
      .weather div:nth-child(2) {
        font-size: 2em;
        padding-left: 0;
        background-image: none; }
      .weather div:nth-child(5) {
        display: none; }
      .weather div:nth-child(3n + 4) {
        text-align: right;
        padding: 0 50px 0 0;
        background-position: 100%; } }

@media (max-width: 568px) {
  .time {
    font-size: 4.5em;
    padding-bottom: 10px; }
  .date {
    font-size: 2em;
    line-height: 1.5; }
  .greeting {
    font-size: 2em; }
  .quote .quote_content {
    height: 4em; }
  .focus_title {
    line-height: 1.5; }
  .focus {
    font-size: 2em; }
  .sliderR, .sliderL {
    font-size: 2em;
    width: 1.5em;
    height: 1em; }
  .weather div {
    width: 100%; }
    .weather div:nth-child(3n + 4) {
      text-align: left;
      padding: 0 0 0 50px;
      background-position: 0%; } }
