@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
body {
  font-family: 'Quicksand', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
  background: no-repeat 50% 50%/cover;
  color: #fff;
  -webkit-transition: background-image 1s linear;
  -o-transition: background-image 1s linear;
  transition: background-image 1s linear; }

.time {
  font-size: 16rem;
  width: 3.5em;
  text-align: left;
  line-height: 1;
  text-shadow: 4px 3px 0 #000; }

.time, .date, .greeting, .focus_title, .quote_content, .quote_author {
  cursor: default;
  text-shadow: 2px 2px 4px #000;
  font-weight: 700; }

.date {
  line-height: 3;
  font-size: 6rem; }

.quote {
  max-width: 70vw;
  font-size: 5rem;
  -moz-text-align-last: left;
       text-align-last: left;
  font-family: 'Dancing Script', cursive; }

.quote_author {
  line-height: 2.5;
  font-size: 5rem;
  text-align: left;
  font-style: italic;
  color: #cacaca;
  font-style: normal;
  font-family: 'Sacramento', normal; }

.greeting, .focus_title, .focus, .name {
  line-height: 2;
  font-size: 4rem; }

.name {
  display: inline-block;
  min-width: 5px;
  font-weight: 700;
  cursor: auto;
  color: #cacaca;
  text-shadow: 4px 3px 0 #000; }

.focus {
  min-width: 5px;
  text-shadow: 4px 3px 0 #000;
  font-size: 5rem;
  color: #cacaca; }

.sliderR, .sliderL {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: -webkit-calc(50% - 4vh);
  top: calc(50% - 4vh);
  left: 1vh;
  width: 8vh;
  height: 8vh;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 4px 3px 0 #000; }
  .sliderR:hover, .sliderL:hover {
    -webkit-animation: arrowL 0.75s linear infinite;
            animation: arrowL 0.75s linear infinite; }

@-webkit-keyframes arrowL {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(1vh);
            transform: translateX(1vh); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes arrowL {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(1vh);
            transform: translateX(1vh); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes arrowR {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-1vh);
            transform: translateX(-1vh); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes arrowR {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-1vh);
            transform: translateX(-1vh); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.sliderR {
  left: auto;
  right: 2vh; }
  .sliderR:hover {
    -webkit-animation: arrowR 0.75s linear infinite;
            animation: arrowR 0.75s linear infinite; }

.weather {
  position: fixed;
  background: rgba(91, 91, 91, 0.7);
  border-radius: 3%;
  -webkit-box-shadow: 10px 10px 10px 25px rgba(91, 91, 91, 0.7);
          box-shadow: 10px 10px 10px 25px rgba(91, 91, 91, 0.7);
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  left: 6vw;
  top: 1vw;
  width: 20%;
  line-height: 1.5; }
  .weather div {
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px #000;
    padding-left: 100px;
    text-align: left;
    cursor: default; }
    .weather div:first-child {
      cursor: auto; }
  .weather__city {
    background: url("assets/images/maps_icon.png") no-repeat 0% 50%/contain;
    height: 1.5em; }
  .weather__temperature {
    font-size: 2em;
    background: url("assets/images/temperature_icon2.png") no-repeat 0% 50%/contain; }
  .weather__wind {
    background: url("assets/images/wind_icon1.png") no-repeat 0% 50%/contain; }
  .weather__visibility {
    background: url("assets/images/visibility_icon1.png") no-repeat 0% 50%/contain; }
  .weather__humidity {
    background: url("assets/images/humidity_color.png") no-repeat 0% 50%/contain; }
  .weather__description {
    background: no-repeat 0% 50%/contain; }

@media (max-width: 768px) {
  body {
    font-size: 16px; } }
